.App {
  text-align: center;
}

.Button {
  height: 30px;
  width:60px;
}

.content {
  text-align: center;
  margin-top: 15px;
}

.userHomeContent {
  margin-top: 15px;
}

body {
  background-color: #c0eb75;
  width: 100%;
  height: 100%;
}

.guestHomeHeader {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 15px;
}

.card-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.guestHomeText {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  margin-bottom: 25px;
}

.guestBtnContainer {
  text-align: center;
}

.statusBtn {
  background-color: white;
  border: 0px;
}

.statusBtn:hover {
   color: rgb(78, 78, 78);
}

.guestNewOrderBtn {
   padding-top: 10px;
   padding-bottom: 10px;
   width: 60%;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   border: 0px;
   border-radius: 10px;
   background-color: #74b816;
   margin-top: 15px;
}

.guestNewOrderBtn:hover {
   background-color: #5c940d;
}

.orderInput {
  font-weight: lighter;
}

.guestHomeContainer {
  background-color: white;
  border-radius: 10px;
  margin-top: 120px;
  padding: 10px;
  width: 40%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.orderBtnContainer {
  text-align: center;
}

.saveBtnContainer {
  text-align: center;
  margin-top: 20px;
}

.cancelBtnContainer {
  text-align: center;
  margin-top: 20px;
}

.colorPicker {
  width: 35%;
}

.orderBtn {
  width: 30%;
  background-color: #74b816;
  border: 0px;
  border-radius: 10px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

.orderBtn:hover {
  background-color: #5c940d;
}

.saveBtn {
  width: 30%;
  background-color: #74b816;
  border: 0px;
  border-radius: 10px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.saveBtn:hover {
  background-color: #5c940d;
}

.cancelBtn {
  width: 30%;
  background-color: #ca5050;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.statusText {
  font-weight: lighter;
}

.cancelBtn:hover {
  background-color: #c04d4d;
}

.navbarTextColor {
  color: white;
}

.loginText {
  color: white;
}

.loginText:hover {
  color: rgb(207, 207, 207);
}

.userOrderModal {
  margin-top: 20px;
}

.statusHistoryModal {
  margin-top: 70px;
}

.userEditModal {
  margin-top: 10px;
  padding-bottom: 20px;
}

.navbarImg {
  height: 40px;
  width: 40px;
}

.editLabel {
  font-weight: bold;
}

.profileImg {
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin-left: 100px;
  float: right;
  position: absolute;
}

.loadingImgContainer {
  text-align: center;
  margin-top: 20%;
}

.dateOfBirthField {
  width: 45%;
  font-weight: lighter;
}

.profileModalLink {
  position: absolute; 
  right: 23%;
  top: 0.5%;
}

.loadingImg {
   height: 80px;
   width: 80px;
   animation: rotate-s-loader 2s linear infinite;
}

.loadingText {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  color: "#212529";
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.adminCountryOptions {
  font-weight: lighter;
}

.adminCardOrderId {
  font-weight: bold;
  margin-bottom: 2px;
}

.adminCardOrderInfo {
  font-weight: lighter;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.orderTable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}

.startHeader {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 15px;
}

.startImgContainer {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.startImg {
  height: 200px;
  width: 200px;
}

.startBtnContainer {
  text-align: center;
}

.startContinueAsGuestBtn {
   padding-top: 10px;
   padding-bottom: 10px;
   width: 60%;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   border: 0px;
   border-radius: 10px;
   background-color: #74b816;
   margin-top: 15px;
}

.startContinueAsGuestBtn:hover {
   background-color: #5c940d;
}

.startLoginBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: 0px;
  font-weight: lighter;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  margin-top: 15px;
}

.adminUpdateCountryBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 17%;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  background-color: #74b816;
  margin-top: 30px;
  color: white;
  margin-bottom: 40px;
  margin-left: 130px;
}

.updateCountryModal {
  margin-top: 125px;
}

.adminUpdateCountryBtn:hover {
  background-color: #5c940d;
}

.startLoginBtn:hover {
  background-color: #cecece;
}

.startRegisterLink {
  font-weight: bold;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  text-decoration: none;
  background-color: white;
  border: none;
}

.adminHomeHeader {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1px;
}

.adminCardHeader {
  background-color: #212529;
  color: white;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100.05%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.orderIdTxt {
  margin-top: 5px;
  font-size: 18px;
}

.currentStatusTxt {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: lighter;
}

.startContainer {
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  padding: 10px;
  width: 40%;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
}

.form-select {
  font-weight: lighter;
}

.orderStatusText {
  font-weight: lighter;
}

.userHomeHeader {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  font-weight: lighter;
}

.userNewOrderBtn {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 10%;
  color: white;
  font-size: 16px;
  border: 0px;
  border-radius: 10px;
  background-color: #74b816;
  margin-top: 25px;
  margin-left: 155px;
}

.inputText {
  font-weight: lighter;
}

.userNewOrderBtn:hover {
  background-color: #5c940d;
}

.startRegisterLink:hover {
  color:rgb(53, 53, 53);
}

.startRegisterText {
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: lighter;
}