.App {
  text-align: center;
}

.Button {
  height: 30px;
  width:60px;
}

.content {
  text-align: center;
  margin-top: 15px;
}

.startIcon {
  color:rgb(19, 209, 209);
}

body {
  background-color: #c0eb75;
  width: 100%;
  height: 100%;
}

.guestHomeHeader {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 15px;
}

.guestImgContainer {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.guestImg {
  height: 200px;
  width: 200px;
}

.guestBtnContainer {
  text-align: center;
}

.guestNewOrderBtn {
   padding-top: 10px;
   padding-bottom: 10px;
   width: 60%;
   font-weight: bold;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   border-top: 0px;
   border-left: 0px;
   border-bottom: 0px;
   border-right: 0px;
   border-radius: 10px;
   background-color: #74b816;
   margin-top: 15px;
}

.guestNewOrderBtn:hover {
   background-color: #5c940d;
}

.guestLoginBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  margin-top: 15px;
}

.guestLoginBtn:hover {
  background-color: #cecece;
}

.guestRegisterLink {
  font-weight: bold;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.guestHomeContainer {
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  padding: 10px;
  width: 40%;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
}

.guestRegisterLink:hover {
  color:rgb(53, 53, 53);
}

.guestRegisterText {
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.orderBtnContainer {
  text-align: center;
}

.saveBtnContainer {
  text-align: center;
  margin-top: 20px;
}

.colorPicker {
  width: 35%;
}

.orderBtn {
  width: 30%;
  background-color: #74b816;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

.orderBtn:hover {
  background-color: #5c940d;
}

.saveBtn {
  width: 30%;
  background-color: #74b816;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.saveBtn:hover {
  background-color: #5c940d;
}

.navbarTextColor {
  color: white;
}

.loginText {
  color: white;
}

.loginText:hover {
  color: rgb(207, 207, 207);
}

.userOrderModal {
  margin-top: 20px;
}

.userEditModal {
  margin-top: 10px;
  padding-bottom: 20px;
}

.navbarImg {
  height: 40px;
  width: 40px;
}

.editLabel {
  font-weight: bold;
}

.profileImg {
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin-left: 100px;
}

.loadingImgContainer {
  text-align: center;
  margin-top: 20%;
}

.dateOfBirthField {
  width: 45%
}

.loadingImg {
   height: 80px;
   width: 80px;
   animation: rotate-s-loader 2s linear infinite;
}

.loadingText {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  color: "#212529";
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.orderTable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

th {
  color: black;
  background-color: #5c940d;
  font-size: 18px;
}